<div class="row">
    <div id="dishInformation" class="col-md-6">
        <p class="title">Lasange</p>
        <img src="#" alt="">
        <p class="instructions">Ipsum placeat aliquid vel quam voluptatem ratione. Accusamus excepturi harum doloribus cupiditate sequi reprehenderit sit! Repellendus nam eveniet dolorem tempora accusamus. Facilis impedit fugit ex rerum quibusdam? Libero recusandae dolorem?</p>
        <button class="btn btn-primary">Back to search</button>
    </div>
    <div class="col-md-6">
        <span class="title">Ingredients for 3 people</span>
        <table id="ingredientTable" class="table">
            <tbody>
                <tr>
                    <td>2 tbsp</td>
                    <td>olive oil</td>
                    <td>SEK</td>
                    <td>0.20</td>
                </tr>
                <tr>
                    <td>2 tbsp</td>
                    <td>olive oil</td>
                    <td>SEK</td>
                    <td>0.20</td>
                </tr>
            </tbody>
        </table>
        <hr/>
        <button class="btn btn-primary">Add to menu</button>
        <span class="total">Sek 77.20</span>
    </div>
</div>
hello
