<div id="overviewHeader">
    <span class="title">My Dinner: 3 People</span>
    <button class="btn btn-primary">Go back and edit dinner</button>
</div>
<div id="overviewDishes">
    <div class="dish">
        <img src="images/meatballs.jpg" alt="">
        <p>Meatballs</p>
        <p>77 Sek</p>
    </div>
    <div class="dish">
        <img src="images/meatballs.jpg" alt="">
        <p>Meatballs</p>
        <p>77 Sek</p>
    </div>
    <div class="dish">
        <img src="images/meatballs.jpg" alt="">
        <p>Meatballs</p>
        <p>77 Sek</p>
    </div>
</div>
<hr/>
<div id="overviewPrint">
    <button class="btn btn-primary">
        Print Full Recipe
    </button>
</div>
