<div class="row">
    <div id="sideBarView" class="col-md-4">
        <p class="title">My dinner</p>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">People</span>
            </div>
            <input id="nrPeople" class="form-control" type="number">
        </div>
        <table id="dishTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Dish Name</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Meatballs</td>
                    <td>0 Sek</td>
                </tr>
                <tr>
                    <td>Meatballs</td>
                    <td>0 Sek</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">
            Confirm Dinner
        </button>
    </div>
    <div class="col-md-8">
        <div id="searchView">
    </div>
</div>
